* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

.container {

    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}