* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

/* 
.container {

    display: flex;
    width: 100%;
}

nav {
    display: flex;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
} */

.container {
    background: #f8f9fa;
    padding: 10px;
    width: 100%;
}

/* img {
    width: 100%;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

nav a {
    text-decoration: none;


}

.nav-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}




.btn-primary {
    background-color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}

.accedi {
    color: white;
}

/* fine header */

/* bg jumbotron */

.main-title {
    font-size: 80px;
    text-align: center;
    max-width: 1050px;
    margin: 118px auto;
}

.bg-jumbotron {
    background-color: #b4d0e6;


}

.jumbo-right {
    width: 30%;
}

.jumbo-left {

    width: 70%;

}

.image {
    width: 100%;
    display: block;
}